NEXT_PUBLIC_SITE_URL=https://ferme-arbusson.fr
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
SUPABASE_URL=https://ivyocvcoszyrlpqblqzc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_FROM="La Ferme d'Arbusson <contact@ferme-arbusson.fr>"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
ORDER_NOTIFY_EMAIL=contact@ferme-arbusson.fr
ADMIN_USERNAME=contact@ferme-arbusson.fr
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
